@import url("https://fonts.googleapis.com/css?family=Kalam|Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: #f5faff;
  overflow: hidden;
}

/*NAVBAR*/
nav {
  margin: 3px;
}

nav li {
  font-size: 14px;
}

nav .btn {
  font-size: 14px;
  padding: 3px 10px;
  border-radius: 2px;
  font-weight: 500;
  margin-top: 3px;
}

.main {
  padding: 7em;
}

.google-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.google-img img {
  width: 30vh;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5faff;
  max-width: 580px;
}

.input-group:focus-within {
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.input-group:hover {
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.input-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-btns button {
  background-image: -webkit-linear-gradient(top, #f2f6fa, #eaedf0);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-size: 14px;
  margin: 10px;
}

.footers {
  background: -webkit-linear-gradient(top, #f2f6fa, #eaedf0);
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: gray;
}

.footers a {
  color: black;
}

.footer1 {
  font-size: 15px;
  border-top: 1px solid #e4e4e4;
}

.footer1 li {
  display: inline;
  font-size: 14px;
}

.dropdown-menu {
  text-align: center;
  width: 20em;
  background-color: #f5faff;
  font-size: 15px;
  font-weight: bolder;
  border: 1px solid #e4e4e4;
}

.dropdown-menu .col-sm-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 3px;
}

.dropdown-menu .col-sm-6:hover {
  background-color: #e0f4fd;
}

.dropdown-menu .block {
  height: 25px;
  width: 95%;
  border-radius: 3px;
}

@media (max-width: 576px) {
  .dropdown-menu {
    width: 10em;
  }
}

@media (min-width: 992px) {
  .animate {
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
/*# sourceMappingURL=main.css.map */